
.calendar-grid-preview {
	position: relative;

	&::after {
		content: "PREVIEW";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		position: absolute;
		display: flex;
		justify-content: center;
		padding-top: 1em;
		font-size: 4em;
		color: white;
		font-weight: 800;
		text-shadow: 0 0 20px hsla(0,0%,0%,.5);
	}

	&:hover {
		&::after {
			background: hsla(200, 87.3%, 21.6%, 0.2);
		}
	}
}