
.jpme-cal-grid_filters {

	background: hsl(0, 0%, 95%);
	padding: .5em;

	label {
		padding: 0 .5em;
		margin-right: .5em;
		border-radius: 2px;
	}
}

.jpme-cal-grid_title {
	text-align: center;

	.jpme-cal-grid_monthName {
		text-align: left;
	}
}

.jpme-cal-grid_nav {
	display: flex;
	justify-content: space-around;
	margin: 0 0 .5em;
}

table.jpme-cal-grid_calendar {
	background: #fff;
	border-collapse: collapse;
	border: 1px solid hsl(0, 0%, 90%);
	font-size: .9em;

	.jpme-cal-grid_emptycells {
		background: hsl(0, 0%, 94%);
		background-image: repeating-linear-gradient(45deg, hsl(0,0%,90%), white 2px, white 7px)
	}

	th {
		background: hsl(0, 0%, 20%);
		border-color: hsl(0, 0%, 40%);
		color: hsl(0, 0%, 95%);
		font-size: .9em;
		font-weight: bold;
		padding: .5em;
		text-align: center;
	}

	td, tr {
		background: inherit;
	}

	td {
		border: 1px solid hsl(0, 0%, 90%);
		height: 150px;
		padding: .4em;
		vertical-align: top;
		width: 150px;
	}

	.jpme-cal-grid-day {
		padding-bottom: .5em;
		font-size: .8em;
		color: hsl(0, 0%, 40%);
		display: block;
	}

}

table.jpme-cal-grid_calendar td.jpme-cal-grid_currentDay {
	background: hsl(64, 100%, 94%);
}

a.jpme-cal-grid_item {
	text-decoration: none;
	color: inherit;
	background: hsl(0, 0%, 90%);
	padding: .4em .8em;
	display: block;
	margin: .2em 0;
	border-radius: 2px;
	transition: .2s transform;
	transform: perspective(100px) translateZ(0);
	&:hover {
		transform: perspective(100px) translateZ(4px);
	}
}

