
.jpme-event-single-view-meta {
	margin-top: .5em;
	margin-bottom: .8em;
	padding: .8em;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	gap: 1.75em;
}

.jpme-event-single-view-dates {
	font-size: 1.4em;
	font-weight: bold;
}
.jpme-event-single-view-location {
	color: hsl(0, 0%, 38%);
	font-weight: 300;
}
@media(min-width:550px) {
	.jpme-event-single-view-meta {
		display: flex;
	}
	.jpme-event-single-view-dates ,
	.jpme-event-single-view-past-dates-wrap
	 {
		width: 50%;
	}
	.jpme-event-single-view-location {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
	}
}

#location-map-container {
	max-width: 100%;
}

.jpme-event-single-view-upcoming-dates-wrap {
	font-size: .9rem;
	margin-top: .5rem;

	p {
		margin: 0; padding: 0;
	}
}
.jpme-view-upcoming-opener {

	&.js-active {
		display: none;
	}
}
.jpme-view-upcoming-dates {
	max-height: 0;
	overflow: hidden;
	transition: .3s max-height;
	background: hsl(0, 0%, 95%);

	&:not(.js-active) {
		padding: 0 !important;
		margin: 0 !important;
	}

	&.js-active {
		max-height: 500px;
		padding: .5em;
		font-weight: normal;
		margin: .5em 0;

		li {
			padding: .3em 0;
		}
	}
}

.mejp-ev-calIcon {
	width: 26px;
	margin-right: .8em;
	vertical-align: top;

	svg {
		height: 24px;
		width: 24px;
		
		* { 
			fill: #777;
		}
	}
}


div.jpme-event-tags {
	font-size: .9em;
	font-weight: 300;
	font-family: var(--wp--preset--font-family--sans, 'inherit' );
	color: hsl(0, 0%, 38%);
}
div.jpme-event-tags ._label {
	display: block;
}
div.jpme-event-tags ._links {
	display: flex;
	gap: .8em;
}
// div.jpme-event-tags ._links a {
// }
div.jpme-event-tags ._links a:hover {
	text-decoration: underline;
}

a.jpme-button-link {
	padding: .1em .5em;
	background: hsl( 0 0% 93% );
	text-decoration: none;
	border-radius: 3px;
	font-size: .9em;
	font-family: var(--wp--preset--font-family--sans, 'inherit' );

	&:hover {
		outline: 1px solid currentColor;
	}
}

