
.mejp-upcoming-events {

	.mejp-ev-datetime {
		color: gray;
		font-style: italic;
		margin: 0;
	}

	.mejp-ev-title {
		font-size: 1.5em;
	}

}

.events-list-single-event {
	overflow: auto;
	padding-block: 1em;

	img {
		max-height: 150px;
		width: auto;
		object-fit: contain;
	}
}

.mejp-events-list-paging {
	display: flex;
	gap: 1em;
	padding: 4px;
}

.events-list-type-text {
	.mejp-event {
		margin: .3em 0;
		padding: 1em 0 0;
	}
	.mejp-event + .mejp-event {
		border-top: 1px dotted silver;
	}

	a.mejp-ev-title {
		font-weight: 600;
	}

}

.events-list-type-short {

	.mejp-event:not(._hide-thumbnail) {
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-gap: 1em;
		margin-block: .8em;
	}
}

.events-list-type-long {

	overflow: auto;

	.mejp-ev-image {
		float: left;
		margin: 0 .9em .9em 0;
		max-width: 40%;

		&:empty {
			display: none;
		}
	}

	.mejp-ev-tags {
		font-size: .9em;
		margin-block: .5em;
	}

	.mejp-ev-location {
		font-size: .9em;
		color: hsl(0 0% 30% );
		padding-block: .5em;
	}

}
