
.wp-block-jp-multi-events-event-meta {

	.components-placeholder {
		margin-block: 1em;
		background: hsl(0, 0%, 94%);
		padding: .5em 1em;
		font-size: .9em;
	}

	.columns {
		display: grid;
		grid-template-columns: 50% 50%;
		gap: 1em;
		margin-top: .7em;
		width: 100%; // why is this needed?
	}

	.button-group {
		display: flex;
	}

	.map-column {
		justify-content: center;
		display: grid;
		align-items: center;

		button, .components-button {
			max-width: fit-content;
		}
	}

}
